ul{
  list-style: none;
  font-size: 20px;
  width: 200px;
}

input[type=checkbox]{
  margin-right: 20px;
}

a{
  text-decoration: none;
  margin: 5px;
  background-color:aquamarine;
  padding: 15px;
  color: #444444;
}